*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    list-style-type: none;
}

:root{
    --color-main: #4e4e4e;
    --color-second:
}

body{
    font-family: arial, sans-serif;
    background-image: url('https://burst.shopifycdn.com/photos/wrtiting-tools.jpg?width=925&format=pjpg&exif=1&iptc=1');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

section{
    margin: 10vh auto;
    box-shadow: 0 0 10px rgba(0,0,0, 0.35);
    border-radius: 15px;
    background-color: #fff;
    opacity: 0.7;
    max-width: 50%;
    height: auto;
    padding-bottom: 10px;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}

.central{
    padding: 15px 0;
    border-top: 1px solid var(--color-main);
    border-bottom: 1px solid var(--color-main);
    display: flex;
    justify-content: center;
}

#taskDescription{
    font-size: 1.2rem;
    border: 1px solid var(--color-main);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 80%;
}

.tasks{
    padding-top: 10px;
}


/* JS */
li{
    font-family: inherit;
    font-size:1.1rem;
    line-height: 1.8;
    border-bottom: 1px solid var(--color-main);
    align-items: center;
    font-weight: bold;
    margin-left: 8px;
    word-break: break-all;
}

li > input{
    align-items: flex-start;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 8px;
}

li > .trash {
    float: right;
    padding-top: 8px;
}

input[type='checkbox']:checked + span{
    text-decoration: line-through;
    color: #F28705;
}

li:hover{
    cursor: pointer;
    background: #4e4e4e;
    transition: all .2s ease;
}

.trash{
    background-color: inherit;
}

/* media */
@media(max-width:500px){
    section{
        max-width: 80%;
    }
    
    h1{
        font-size: 1.2rem;
    }

    #taskDescription{
        font-size: 1rem;
    }

    li{
        font-size:1rem;
    }
}
